@font-face {
  font-family: "GangwonEduPowerExtraBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 네브바 폰트 */
@font-face {
  font-family: "Y_Spotlight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MICEGothic Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  /* Color */
  --color-white: #ffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #dbdbdb;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-light-grey: #7c7979;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-raidus: 4px;
}

/* Universal tags */
* {
  box-sizing: border-box; /* padding을 넣었을 때, 높이 너비가 box 사이즈에 포함 */
}
body {
  margin: 0;
  cursor: default;
}
a {
  text-decoration: none;
  color: var(--color-black);
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 4px 0;
}

button {
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

.wrapper {
  position: relative;
  width: 90%;
  max-width: 767px;
  margin: 0 auto;
}

/* Navbar */
.navbar__container {
  display: flex;
  justify-content: center;
}

#navbar {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: tan;
  align-items: center;
  transition: all var(--animation-duration) ease-in;
  z-index: 1;
  font-family: "Y_Spotlight";
}

#navbar.navbar__dark {
  background-color: tan;
}

.navbar__menu {
  display: flex;
  margin: 0 auto;
}

.navbar__logo {
  position: relative;
  left: 25px;
  color: var(--color-light-white);
  font-size: 0;
}
.navbar__logo img {
  width: 90px;
  height: 50px;
}

.navbar__menu__item {
  padding: 8px 12px;
  color: var(--color-dark-white);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--size-border-raidus);
  font-size: 1.4rem;
  font-weight: 900;
}

.navbar__menu__item.active {
  color: black;
}

.navbar__menu__item:hover {
  background-color: #9e9e9e;
}

.navbar__twitter__link {
  width: 25px;
  position: absolute;
  right: 35px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar__menu .navbar__twitter__img {
  width: 25px;
  margin-top: 12px;
}

.navbar__toggle__button {
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--color-black);
  display: none;
}

/* Home */
#home {
  background: url("images/home.gif") center/cover no-repeat;
  height: 600px;
  position: relative;
}

.home__avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}

/* Section common */
section {
  text-align: center;
  margin: auto;
}

.notice {
  margin: 10px 0px;
}

/* audition */
#audition {
  background: url("./images/audition.gif") center/cover no-repeat;
  padding-bottom: 40px;
  font-family: "GangwonEduPowerExtraBoldA";
}

.audition__container h1 {
  padding-top: 40px;
}

#audition .subtitle {
  margin-top: 40px;
  color: black;
}

#audition .container {
  color: white;
}

#audition .application {
  background-color: var(--color-dark-pink);
  padding: 10px 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  margin-top: 40px;
}

.application p {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  margin: 20px 0px;
  font-size: 25px;
}

.application span {
  font-size: 25px;
}

.application a {
  color: white;
  font-size: 30px;
  padding-top: 15px;
}

.audition.wrapper {
  background-color: var(--color-white);
  width: 100%;
  line-height: 1.5;
  max-width: 700px;
  margin: auto;
  padding: 30px 0px;
}

.audition.wrapper em {
  display: block;
  font-size: 14px;
  color: indianred;
}

.audition.wrapper ul {
  color: var(--color-light-grey);
  margin: 20px 40px;
  word-break: keep-all;
}

.audition.wrapper .title {
  color: var(--color-pink);
}

/* Contact */
#contact {
  background-color: tan;
  font-family: "GmarketSansMedium";
  padding: 20px 0px 2px 0px;
}

.contact__title,
.contact__email,
.contact__rights,
.contact__links {
  color: var(--color-white);
  font-size: 16px;
}

.contact__title {
  font-size: 30px;
  margin: 15px 0;
}

.contact__email {
  display: inline;
  font-size: 16px;
}

.contact__links {
  font-size: 20px;
  margin: 24px 0;
  transition: all var(--animation-duration) ease-in;
}

/* Scroll */

.arrow-up {
  font-size: 40px;
  position: fixed;
  bottom: 20px;
  right: 55px;
  width: 50px;
  height: 50px;
  color: var(--color-dark-white);
  background-color: #ffcc80;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-duration) ease-in;
  cursor: pointer;
}

.arrow-up img {
  width: 20px;
  height: 25px;
}

.arrow-up.visible {
  opacity: 0.7;
  pointer-events: auto;
}

/* Story */
#story {
  background: url("./images/story8.gif") center/cover no-repeat;
  padding-bottom: 60px;
}

#story h1 {
  padding: 40px 0px;
}

/* carousel */
.carousel__section {
  display: none;
}

.sildewrap {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel__container {
  white-space: nowrap;
  font-size: 0;
  transition: transform 0.5s;
}

.carousel__container .inner {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

.inner img {
  width: 100%;
}

.carousel__content {
  display: none;
  background-color: black;
  font-size: 1.4em;
  font-family: "MICEGothic Bold";
}

.carousel__content.fadein {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
  transition: all 1s ease-in;
  white-space: normal;
  word-break: keep-all;
}

.text__container p,
.text__container h3 {
  opacity: 0;
}

.carousel__content h3 {
  position: relative;
  color: white;
}

@keyframes fade {
  to {
    opacity: 1;
  }
}

.carousel__content h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 40px;
  height: 2px;
  margin-left: -18px;
  margin-top: 8px;
  background-color: var(--color-pink);
}

.carousel__content p {
  color: white;
}

.carousel__left {
  margin: 20px 20px 0px 0px;
}

.fadein {
  font-size: medium;
  position: relative;
  overflow: hidden;
  animation: fadein 1s ease-in-out;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
    transform: none;
  }
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  #navbar {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
  }

  .navbar__toggle__button {
    display: block;
    padding: 14px;
  }

  .navbar__menu.open {
    display: block;
    margin: 0%;
    background-color: #bd7838;
  }

  .navbar__menu__item {
    border: 0;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__twitter__link {
    width: 25px;
    display: inline-block;
    position: static;
    margin: 0px;
  }

  .about__majors {
    flex-direction: column;
  }
  .major__icon {
    margin: auto;
  }
  .major__description {
    margin-bottom: 38px;
  }
  .skillset {
    flex-direction: column;
  }
  .category__btn {
    margin: 4px 0;
  }
  .project {
    flex-grow: 1;
  }

  .testimonial {
    flex-direction: column;
    align-items: center;
  }
  .testimonial__avatar:nth-child(even),
  .testimonial__avatar:nth-child(odd) {
    width: 80px;
    height: 80px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 8px;
  }

  .testimonial__speech-bubble {
    order: 1;
    margin-bottom: 10px;
  }

  .arrow-up {
    display: none;
  }
}
