@font-face {
  font-family: "GangwonEduPowerExtraBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #dbdbdb;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #fb8c00;
  --color-black: #000000;
  --color-light-blue: #e5ffff;
  --color-dark-Emerald: #00acc1;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-raidus: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box; /* padding을 넣었을 때, 높이 너비가 box 사이즈에 포함 */
}
body {
  margin: 0;
  cursor: default;
}
a {
  text-decoration: none;
  color: var(--color-black);
}
ul {
  list-style: none;
  padding-left: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 4px 0;
}

button {
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

.wrapper {
  position: relative;
  width: 90%;
  max-width: 767px;
  margin: 0 auto;
}

/* Navbar */
.navbar__container {
  display: flex;
  justify-content: center;
}
#navbar {
  display: flex;
  position: fixed;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  background-color: tan;
  align-items: center;
  transition: all var(--animation-duration) ease-in;
  z-index: 1;
  will-change: contents;
}
#navbar.navbar__dark {
  background-color: tan;
}

.navbar__menu {
  display: flex;
  margin-right: 10px;
}
.navbar__logo {
  position: relative;
  left: 25px;
  color: var(--color-light-white);
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  font-size: 0;
}
.navbar__logo img {
  width: 90px;
  height: 50px;
}

.navbar__menu__item {
  padding: 8px 12px;
  color: var(--color-dark-white);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--size-border-raidus);
}
.navbar__menu__item.active {
  color: black;
}
.navbar__menu__item:hover {
  background-color: #9e9e9e;
}

.navbar__twitter__img {
  width: 20px;
  margin-top: 10px;
}

.navbar__toggle__button {
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--color-black);
  display: none;
}

/* Home */
#home {
  background: url("images/home.gif") center/cover no-repeat;
  height: 600px;
}

.home__avatar {
  position: absolute;
  top: calc(50% + -40px);
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}

/* Section common */
section {
  text-align: center;
  margin: auto;
}

/* notice */
#notice {
  background: url("./images/notice.png") center/cover no-repeat;
  padding-bottom: 40px;
  font-family: "GangwonEduPowerExtraBoldA";
}

#notice h1 {
  padding: 40px 0px;
  color: white;
}
.notice {
  margin: 10px 0px;
}
.content {
  margin-bottom: 32px;
}

.news__container {
  display: flex;
  color: var(--color-light-white);
  margin: 20px 0px;
}

.news {
  padding: 20px 18px;
  background-color: var(--color-dark-grey);
  max-width: 700px;
  margin: auto;
}

.content__description .content__list {
  margin: 20px 0;
  line-height: 1.5;
  text-align: left;
  word-break: keep-all;
}

.content__list .news__date {
  font-size: 20px;
  font-weight: 700;
}

.news__right {
  flex-basis: 50%;
  padding: 20px 40px;
  background-color: var(--color-light-grey);
}

/* audition */
#audition {
  background: url("./images/audition.gif") center/cover no-repeat;
  padding-bottom: 40px;
  font-family: "GangwonEduPowerExtraBoldA";
}

.audition__container h1 {
  padding-top: 40px;
}

#audition .subtitle {
  margin-top: 60px;
  color: black;
}

#audition .container {
  color: white;
}

#audition .application {
  background-color: var(--color-dark-pink);
  padding: 10px 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
}

.application p {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  margin: 20px 0px;
  font-size: 25px;
}

.application a {
  color: white;
  font-size: 30px;
  padding-top: 15px;
}

.audition.wrapper {
  background-color: var(--color-white);
  width: 100%;
  line-height: 1.5;
  max-width: 700px;
  margin: auto;
  padding: 15px 0px;
}

.audition.wrapper em {
  display: block;
  font-size: 12px;
  color: indianred;
}

.audition.wrapper ul {
  color: var(--color-light-grey);
}

.audition.wrapper .title {
  color: var(--color-pink);
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
  text-align: center;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  color: var(--color-orange);
  border: 1px solid var(--color-orange);
  border-radius: 50%;
  margin-bottom: 16px;
}
.major__title,
.major__description {
  color: var(--color-dark-grey);
}
.major__description {
  font-size: var(--font-small);
}

.major__icon svg {
  transition: all var(--animation-duration) ease;
}
.major__icon:hover svg {
  color: var(--color-dark-pink);
  transform: rotate(-30deg) scale(1.1);
}

.job {
  display: flex;
  align-items: center;
  margin-top: 24px;
}
.job__description {
  margin: 0 16px;
  text-align: left;
}
.job img {
  width: 100px;
  height: 100px;
}
.job__name,
.job__period {
  color: var(--color-light-grey);
}
.job__name {
  font-size: var(--font-small);
}
.job__period {
  font-size: var(--font-micro);
}

/* Work */
.work__categories {
  margin: 12px 0;
}
.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-raidus);
  font-size: var(--font-regular);
  padding: 8px 48px;
  width: 225px;
}
.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-dark-pink);
  color: var(--color-white);
  cursor: pointer;
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 230px;
  margin: 2px;
  padding: 30px;
  background-color: var(--color-light-white);
}

.project.invisible {
  display: none;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.9) translateY(40px);
}

.project__img {
  max-height: 100%;
  max-width: 100%;
}

.project__description {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3,
span {
  color: var(--color-white);
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 40px;
  height: 2px;
  margin-left: -12px;
  margin-top: 8px;
  background-color: var(--color-pink);
}

/* Contact */
#contact {
  background-color: tan;
  font-family: "GmarketSansMedium";
  padding: 20px 0px 2px 0px;
}

.contact__title,
.contact__email,
.contact__rights,
.contact__links {
  color: var(--color-white);
  font-size: 16px;
}

.contact__title {
  font-size: 30px;
  margin: 15px 0;
}

.contact__email {
  display: inline;
  font-size: 16px;
}

.contact__links {
  font-size: 20px;
  margin: 24px 0;
  transition: all var(--animation-duration) ease-in;
}

/* Scroll */

.arrow-up {
  font-size: 40px;
  position: fixed;
  bottom: 20px;
  right: 55px;
  width: 50px;
  height: 50px;
  color: var(--color-dark-white);
  background-color: #ffcc80;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-duration) ease-in;
  cursor: pointer;
}

.arrow-up img {
  width: 20px;
  height: 25px;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  .navbar__toggle__button {
    display: block;
    padding: 16px;
  }
  .navbar__menu.open {
    display: block;
    position: relative;
    top: 140px;
    left: -100px;
    margin: 0%;
    background-color: #bd7838;
  }

  .navbar__menu__item {
    border: 0;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
  .about__majors {
    flex-direction: column;
  }
  .major__icon {
    margin: auto;
  }
  .major__description {
    margin-bottom: 38px;
  }
  .skillset {
    flex-direction: column;
  }
  .category__btn {
    margin: 4px 0;
  }
  .project {
    flex-grow: 1;
  }

  .testimonial {
    flex-direction: column;
    align-items: center;
  }
  .testimonial__avatar:nth-child(even),
  .testimonial__avatar:nth-child(odd) {
    width: 80px;
    height: 80px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 8px;
  }

  .testimonial__speech-bubble {
    order: 1;
    margin-bottom: 10px;
  }

  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    right: 16px;
    bottom: 16px;
  }
}
